In [9]:
import pandas as pd
early_data = pd.read_csv(r"C:\Users\USER\Desktop\early.csv" ,header=0)

In [50]:
print(early_data)


from scipy import stats
import scipy

g1=early_data.loc[:,"early"]
g2=early_data.loc[:,"dtml"]
g3=early_data.loc[:,"adv"]
g4=early_data.loc[:,"conv_bilstm+att"]

#perform Friedman Test
stats.friedmanchisquare(g1,g2,g3,g4)

    number  early  dtml  adv  conv_bilstm+att
0        1      1     2    4                3
1        2      2     3    1                4
2        3      1     4    3                2
3        4      1     2    3                4
4        5      2     4    1                3
5        6      3     4    1                2
6        7      4     1    3                2
7        8      2     3    4                1
8        9      1     4    3                2
9       10      2     3    4                1
10      11      1     2    4                3
11      12      1     4    3                2
12      13      1     2    3                4
13      14      2     3    4                1
14      15      1     3    4                2
15      16      1     3    2                4
16      17      3     1    4                2
17      18      3     4    1                2
18      19      2     3    4                1
19      20      1     2    4                3
20      21      1     4    3                2
21      22      2     4    3                1
22      23      1     2    4                3
23      24      1     3    2                4
24      25      2     4    3                1
25      26      1     3    3                2
26      27      3     1    4                2
27      28      1     2    3                4
28      29      3     1    2                4
29      30      1     4    3                2
30      31      2     3    4                1
31      32      1     4    2                3
32      33      2     3    4                1
33      34      2     3    1                4
34      35      1     3    4                2
35      36      1     4    3                2
36      37      3     1    2                4
37      38      1     4    2                3
38      39      1     4    3                2
39      40      4     1    2                3
40      41      2     1    3                4
41      42      1     3    2                4
42      43      3     4    2                1
43      44      1     4    2                3
44      45      1     2    3                4
45      46      2     3    4                1
46      47      1     4    3                2
47      48      1     2    4                3
48      49      2     4    1                3
49      50      3     4    2                1

FriedmanchisquareResult(statistic=27.97394789579159, pvalue=3.6780558072118466e-06)

In [57]:
ls1 = [1 for i in range(len(g1))]
ls2 = [2 for i in range(len(g2))]
ls3 = [3 for i in range(len(g3))]
ls4 = [4 for i in range(len(g4))]
gg1 = pd.Series(ls1)
gg2 = pd.Series(ls2)
gg3 = pd.Series(ls3)
gg4 = pd.Series(ls4)

class_A= pd.DataFrame({'rank':g1,'group':gg1})
class_B= pd.DataFrame({'rank':g2,'group':gg2})
class_C= pd.DataFrame({'rank':g3,'group':gg3})
class_D= pd.DataFrame({'rank':g4,'group':gg4})


# 위의 4개의 class 데이터 프레임을 concat합니다. 
class_all=pd.concat([class_A, class_B, class_C, class_D], axis=0)
print(class_all)

    rank  group
0      1      1
1      2      1
2      1      1
3      1      1
4      2      1
..   ...    ...
45     1      4
46     2      4
47     3      4
48     3      4
49     1      4

[200 rows x 2 columns]

In [58]:
from statsmodels.sandbox.stats.multicomp import MultiComparison
import scipy.stats

comp = MultiComparison(class_all['rank'],class_all['group'])

# Bonferroni 방법을 통해 모든 그룹간 ttest를 진행
result = comp.allpairtest(scipy.stats.ttest_ind, method='bonf')
result[0]